<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/" access="permitAll"/>
        <csrf disabled="true"/>
        <form-login
                login-page="/pages/login.xhtml"
                default-target-url="/pages/login.xhtml"
                authentication-failure-url="/pages/loginfailed.xhtml"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="Vladik" password="7788" authorities="ROLE_USER"/>
                <user name="Dimka" password="8814" authorities="ROLE_ADMIN"/>
                <user name="Nikitka" password="1488" authorities="ROLE_ADMIN"/>
                <user name="test" password="1" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>